.card {
  position: relative;
  background-color: transparent;
  border: 1px solid white;
  box-shadow: 0 0 36px hsla(0, 0%, 0%, 0.1);
  border-radius: 10px;
  transition: .25s;
  overflow: hidden;
}

.card:hover {
  cursor: pointer;

}

.card:hover .button-primary {
  transform: translate(10px, 0);
}

.card-header {
  height: 150px;
  max-width: 100%;
  padding: 15px;
  position: relative;
  text-transform: uppercase;
  object-fit:cover;
  background-size: cover;
  color: #fff;
}

.card-header-title {
  display:none;
  margin: 0;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
}

.card-body {
  padding: 15px;
}

.date {
  font-size: 11px;
  font-weight: 600;
  color: grey;
}

.body-content {
  padding-bottom: 40px;
  font-size: 13px;
  line-height: 1.8;
  overflow: hidden;
}

.button-primary {
  border: none;
  border-radius: 4px;
  box-shadow: none;
  font-family: inherit;
  background-color: #55198b;
  color: #FFF;
  font-size: 16px;
  transition: .25s;
  position: absolute;
  bottom: 10%;
  margin: 1em 0 0 1em;
}

.button-primary i {
  padding-right: 4px;
}

.designer-link {
  color: #fff;
  text-align: center;
  font-size: 12px;
  text-decoration: none;
  display: block;
}

.card-header:hover .card-header-title {
  display: inline;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Media Query */

/* @media screen and (max-width: 480px) and (min-width: 300px),
(min-width: 925px) and (max-width: 1024px),
(min-width: 1405px) and (max-width: 1550px) {
  .blog-card:hover::before {
    transform: scale(30);
  }
} */

/* @media screen and (min-width: 481px) and (max-width: 675px),
(min-width: 1025px) and (max-width: 1404px),
(min-width: 1551px) {
  .card:hover::before {
    transform: scale(40);
  }
}

@media screen and (min-width: 675px) and (max-width: 860px) {
  .card:hover::before {
    transform: scale(50);
  }
}

@media screen and (min-width: 860px) and (max-width: 924px) {
  .card:hover::before {
    transform: scale(60);
  }
}

@media screen and (max-width: 480px) and (min-width: 300px) {

} */

@media (max-width: 1380px) {
  .card-header-title {
    font-size: 22px;
  }
  .card-body {
    font-size: 18px;
  }
  .card-body h2 {
    font-size: 18px;
  }
  .date {
    font-size: 12px;
  }
  .body-content{
    font-size:18px
  }
}

@media (max-width: 768px) {
  .experience-text-role {
      font-size: 22px;
  }
  .experience-text-company {
      font-size: 22px;
  }
  .experience-text-date {
      font-size: 18px;
  }
  .experience-text-desc {
      font-size: 16px;
  }
}

